version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ro_backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ro_frontend
    ports:
      - "5173:80" # Maps the container's 80 to 5173 so your URLs don't break
    depends_on:
      - backend
    restart: unless-stopped
